u {
    color: #00f;
    font: italic;
}
#submit {
    background-color:  rgb(75, 119, 9);
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
}

.submit:hover {
    background-color: #E64A19; 
    }